@model IEnumerable<TrelloWebApplication.Models.Card>
@{List<String> idList = new List<String>();}
@{
    ViewBag.Title = "_FilterTable";
}
<div id="TableFilter">
    <table class="table" id="tb1">
        <tr>
            <th style="text-align:center">
                TRELLO'S CARDS LIST
            </th>
            <th>LIST</th>
            <th>ARCHVIED</th>
            <th>Expiration date</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdList)
                </td>
                @if (item.Closed == "True")
                {
                    <td>YES</td>
                }
                else
                {
                    <td>NO</td>
                }

                @if (item.Due != null)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Due)
                    </td>
                }
                else
                {
                    <td>

                        Not Present
                    </td>
                }
            </tr>
            idList.Add(item.Id);
        }
    </table>
</div>
