@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Applicazione Web che si collega tramite chiamate Api ad una board Trello e ne ricava le varie card 
    e le loro caratteristiche con la possibilità di inserire su di esse un commento e stampare il tutto 
    su di un file PDF/Excel.</p>
